<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>New Tab</title>
  <link rel="stylesheet" href="./public/styles.css">
  <link rel="stylesheet" href="./bower_components/pen/src/pen.css">
</head>

<body>
  <main id="App">

    <!-- Husk Editor -->
    <article contentEditable id="Editor"></article>
    <section id="dummySpace"></section>

    <!-- Menu Toggle -->
    <button class="nav_icon" id="menuToggle" @click="menuOpen = !menuOpen">
        <img v-if="!menuOpen" src="./public/assets/gear.svg" alt="" />
        <img v-else src="./public/assets/gear_active.svg" alt="" />
      </button>

    <!-- Menu Modal -->
    <aside id="huskMenu" v-if="menuOpen">
      <button id="menuClose" @click="menuOpen = false">x</button>
      <h3>Menu</h3>

      <!-- Sync settings -->
      <div class="setting_group">
        <h4 class="setting_header">Note Sync</h4>
        <input
          v-model="settings.enableSyncStorage"
          id="toggle_sync"
          type="checkbox"
          class="toggle"
          :class="{on: settings.enableSyncStorage }"
          @click="toggleSyncStorage()">
          <label for="toggle_sync"></label>

          <!-- <span v-if="settings.enableSyncStorage">Enable Sync</span> -->
          <!-- <span v-else>Disable Sync</span> -->
      </div>
      <p>
        Sync your notes between computers. Requires a <a href="https://www.google.com/settings/chrome/sync">Chrome Profile</a> with extension sync access.
        This is an experimental feature, and likely to have some bugs. <a href="https://github.com/teesloane/husk/wiki/Enabling-Chrome-Sync" target="_blank">Learn more</a>.
      </p>

      <!-- About -->
      <div class="setting_group">
        <h4 class="setting_header">About</h4>
      </div>
      <p>
        Husk was inspired by <a href="https://chrome.google.com/webstore/detail/papier/hhjeaokafplhjoogdemakihhdhffacia">Papier</a>. Husk was written by <a href="https://github.com/teesloane">Teesloane</a>.
      </p>

    </aside>
  </main>

  <script src="./bower_components/pen/src/pen.js"></script>
  <script src="./bower_components/pen/src/markdown.js"></script>
  <script src="./node_modules/vue/dist/vue.js" charset="utf-8"></script>
  <script src="./public/main.js" charset="utf-8"></script>
</body>

</html>
