
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>New Tab</title>
    <link rel="stylesheet" href="./public/styles.css">
    <link rel="stylesheet" href="./bower_components/pen/src/pen.css">
  </head>
  <body>
    <main id="App">
      <!-- Husk Editor -->
      <article contentEditable id="Editor"></article>
      <section id="dummySpace"></section>


      <!-- Menu Nav -->
      <button id="menuOpen" @click="menuOpen = !menuOpen">
        <span v-if="menuOpen === false">Menu</span>
        <span v-else>x</span>
      </button>

      <nav v-if="menuOpen">
        <section>
          <button @click="toggleSyncStorage()">
            <span v-if="settings.enableSyncStorage">Disable Sync?</span>
            <span v-else>Enable Sync?</span>
          </button>
        </section>
      </nav>
    </main>

    <script src="./bower_components/pen/src/pen.js"></script>
    <script src="./bower_components/pen/src/markdown.js"></script>
    <script src="./node_modules/vue/dist/vue.js" charset="utf-8"></script>
    <script src="./public/main.js" charset="utf-8"></script>
  </body>
</html>
