/** Husk's CSS Slag.
* Contents
  * General Setup / Layout
  * Editor
  * Utils / Misc / Unsorted
  */

/* ========================================
General Setup / Layout
===========================================*/

html {
  font-size: 62.5%;
}

body {
  display: flex;
  height: 95vh;
}

#App {
  display: flex;
  flex-direction: column;
  font-family: courier, sans-serif; /* Just for now, I swear.*/
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}


/* ========================================
editor
===========================================*/

#Editor {
  /* TODO: Media query for < 700px - bigger width */
  /* NOTE: Padding and Width are linked for good looking sidebars */
  flex-grow: 4;
  display: flex;
  flex-direction: column;
  outline: none;
  resize: none;
  width: 60%;
  border: 0;
  font-size: 1.4rem;
  padding: 5% 20% 10%;
  line-height: 1.4;
}

/* ========================================
Menu
===========================================*/
#huskMenu {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2rem;
  padding: 1rem;
  display: flex;
  align-items:center;
}


#menuOpen {
  list-style-type: none;
}

.menu_item_container {
  list-style-type: none;
  padding: 0 2rem;
  margin: 0;
}

.menu_item_container li {
  margin-left: 1rem;

}

.nav_icon {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}


/* ========================================
Utils / Misc / Unsorted
===========================================*/

#dummySpace {
  flex-grow: 1
}
